@import "~@angular/material/theming";
@include mat-core();

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

html, body {
  height: 100%;
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
}

/* Mat forms */
.mat-form-field { font-size: 14px;  width: 100%;}
.hand { cursor: pointer;}

/* Spacing */
.p-15 { padding: 15px;}
.p-l-15 { padding-left:15px;}
.m-l-15 { margin-left:15px; }
